<div class="fundadores">
    <h1>Docentes fundadores</h1>
    <div class="container__cards">
        
        <div class="card">
            <div class="cover__card">
            <div class="imagen"></div> 
            </div>
            <h2>Dra. Sara Mesa</h2>
            <p>Creadora de un espacio de educación llamado Sara Cocina y Mente donde dicta talleres relacionados con la alimentación y su efecto sobre el bienestar del cerebro y la salud del intestino, la alimentación y el funcionamiento de la mente.</p>
            <hr>
            <div class="footer__card">
                <h3 class="user__name">Docente fundadora</h3>
                <i> Desde 08 Marzo</i>
            </div>
        </div>
        <div class="card">
            <div class="cover__card">
                
                <div class="imagenn">
                </div> 
            </div>
            <h2>Dr. Santiago Rojas</h2>
            <p>Médico colombiano especialista en Cuidados Paliativos Oncológicos y Medicina Integrativa Ha dictado conferencias sobre crecimiento personal, apoyo al paciente terminal, duelo emocional, y sobre el empleo de terapias alternativas</p>
            <hr>
            <div class="footer__card">
                <h3 class="user__name">Docente fundador</h3>
                <i>Desde 08 Abril</i>
            </div>
        </div>
        <div class="card">
            <div class="cover__card">
                <div class="imagennn">
                </div> 
                
            </div>
            <h2>Ana Isabel Santa María (Yogalalma)</h2>
            <p>Soy periodista y profesora de yoga de formación y mi otra gran pasión es la literatura. Trabajo hace 15 años enseñando sobre el cuerpo físico y los cuerpos sutiles a través de clases, retiros y talleres.</p>
            <hr>
            <div class="footer__card">
                <h3 class="user__name">Docente fundadora</h3>
                <i>Desde 08 Enero</i>
            </div>
        </div>
    </div>
</div>